
h1{color:white;
background-color:blue;
text-align:center;

}

h2{
color:green;
background-color:black;
text-align:center;

}

h3{
color:black;
background-color:yellow;
text-align:center;
;
}

p{
color:green;

text-transform:capitalize;
text-decoration-line:underline;
text-indent:inherit;
margin-left:10%;margin-right:10%;
}